html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #2C2141;
  font-family: noto-sans, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

p {
  font-weight: 400;
  line-height: 1.375;
}

.card {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 616px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  background-color: #F8F8F8;
  border-radius: 16px;
}

.card__avatar-image {
  max-width: 148px;
  border-radius: 50%;
}

.card__content {
  flex-basis: 380px;
  flex-grow: 1;
}

.card__content--link{
  color: #ED6D05;
  text-decoration: none;
}

.card__content--name{
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-flow: column wrap;
}

.card__content--jobTitle {
  font-size: 12px;
  font-weight: 400;
}
